<ion-content>
  <ion-row class="ion-no-padding" style="height:100%">
    <ion-col class="ion-hide-xs-down ion-hide-sm-down ion-hide-md-down" size-lg="8" size-xl="8">
      <div class="introduction">
        <div class="shade"></div>
        <div class="content">
          <ion-row class="ion-justify-content-center ion-align-items-center ion-text-left" style="height:100%">
            <ion-col size="6">
              <p class="app-name">IMS Customer Service</p>
              <p class="subtitle">IMS Customer Service</p>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="4" size-xl="4">

      <div style="height: 100%;">
        <ion-row class="ion-justify-content-center ion-align-items-center" style="height:100%">
          <ion-col size="12" style="padding:100px">
            <div style="width: 20%; margin: auto;">
              <img src="../assets/images/SMPT_Logo_T_PNG.png" style="width: 100%;">
            </div>
            <div class="selectors">
              <p class="activated">Login</p>
              <p>Register</p>
            </div>
            <div>
              <form>
                <ion-list>
                  <ion-item>
                    <ion-label position="floating">Username</ion-label>
                    <ion-input type="text"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password"></ion-input>
                  </ion-item>
                </ion-list>
                <p class="ion-float-right">Forgot Password?</p>
                <ion-button expand="block" fill="outline" size="large" style="margin-top:75px">Login</ion-button>
              </form>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-content>